@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

nav {
    background-color: darkcyan;
}

nav a:hover {
    text-decoration: none;
    color: black;
}

nav ul li a {
    font-size: 1.05em;
}

#nav-button a { 
    border-radius: 10px;
}

#nav-button a:hover {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.295);
}

body {
    width: 100wh;
    height: 100vh;
    background-color: white;
}

#apresentacao {
    height: 300px;
    background: url(imagens/capa2.jpg) no-repeat;
    background-position: 10% 60%;
    opacity: 0.7;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.texto-apresentacao {
    background-color: rgba(0, 139, 139, 0.562);
    color: white;
}

.container-fluid .card {
    color: darkcyan;
    margin: 15px;
    height: 320px;
    width: 300px;
    text-align: center;
    background-color: azure;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.171);
    overflow: auto;
}

.icon {
    width: 65px;
    height: 65px;
    margin-bottom: 5px;
}

.container-fluid .card .card-text {
    font-size: .85em;
    font-weight: 400;
    color: black;
}

footer {
    background-color: darkcyan;
}

.duvidas-frequentes {
    background-color: azure;
    padding: 10px;
}

footer h1 {
    color: white;
}

footer p {
    font-size: .85em;
    color: white;
}