@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

nav {
    background-color: darkcyan;
}

nav a:hover {
    text-decoration: none;
    color: black;
}

nav ul li a {
    font-size: 1.05em;
}

#nav-button a {
    border-radius: 10px;
}

#nav-button a:hover {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.295);
}

body {
    width: 100wh;
    height: 100vh;
    background-color: white;
}

.quem-somos-fundo {
    background: #008b8b17;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px black;
    border-radius: 30px;
}

.h1-fonte-quem-somos {
    font-weight: 550;
}

.p-fonte-quem-somos {
    font-size: 1.1em;
    padding: 0 25px;
}

#apresentacao {
    height: 300px;
    background: url(../imagens/capa2.jpg) no-repeat;
    background-position: 10% 60%;
    opacity: 0.7;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.texto-apresentacao {
    border-radius: 10px;
    background-color: rgba(0, 139, 139, 0.1);
    padding: 4px;
    color: white;
}

.container-fluid .card {
    color: darkcyan;
    margin: 15px;
    height: 320px;
    width: 300px;
    text-align: center;
    background-color: azure;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.171);
    overflow: auto;
}

.card {
    transition: 0.8s;
}

.card:hover,
.card:active {
    transform: scale(1.1);
}

.icon {
    width: 65px;
    height: 65px;
    margin-bottom: 5px;
}

.container-fluid .card .card-text {
    font-size: .85em;
    font-weight: 400;
    color: black;
}

footer {
    background-color: darkcyan;
}

/* INICIO DUVIDAS FREQUENTES */

button.accordion {
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.ultimo-item {
    border-bottom: 1px solid black;
}

button.accordion:after {
    content: '\f103';
    font-family: "fontawesome";
    font-size: 18px;
    float: right;
}

button.accordion.is-open:after {
    content: '\f102';
}

button.accordion:hover,
button.accordion.is-open {
    background-color: azure;
}

button.accordion.is-open {
    font-weight: bold;
}

.accordion-content {
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.accordion-content p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05em;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.accordion-content p a {
    text-decoration: none;
}

.accordion-content p a:hover {
    color: darkcyan;
    text-decoration: underline;
}

/* FIM DUVIDAS FREQUENTES */

footer h1 {
    color: white;
}

footer p {
    font-size: .85em;
    color: white;
}

footer .container a {
    margin-right: 5px;
}

/* INICIO FORMULARIO */

form {
    width: 100%;
}

@media screen and (min-width: 768px) {
    form>* {
        width: 50% !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    form>* {
        width: 85% !important;
        margin: 0 auto;
    }
}

form label {
    margin: 0 auto;
}

form input {
    padding: 10px;
}

.styleAlert {
    width: 180px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 550;
    display: none;
}